[submodule "IconFoeJson"]
	path = IconFoeJson
	url = https://github.com/Frozedon/IconFoeJson.git
[submodule "IconFoeJson-Homebrew"]
	path = IconFoeJson-Homebrew
	url = https://github.com/Frozedon/IconFoeJson-Homebrew
