################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IconFoeCreator/bin
/IconFoeCreator/obj
/.vs